html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  border-color: #9a816d;
}

.link-card {
  text-decoration: none;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #512200;
}

p {
  color: #785439;
  font-size: 1.125rem;
}

dl {
  color: #785439;
  font-size: 1rem;
}

.link-card dd dt {
  display: inline-block;
}

.link-card dd {
}

.link-card dt {
}

.btn {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #f0eee8;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  background-color: #785439;
  border-color: #785439;
}
